/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

#body-less{
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Css ajouté */
body{
	background-color: #FFFEF8;
}

footer{
	max-width: 1440px;
	background-color: white;
	height: 60px;
	line-height: 60px;
	
	bottom: 0;
}

/* home page */
#nav-bar a{
	text-decoration: none;
	color: inherit;
}

a.active{
	font-weight: bold;
	color: black;
}

.display-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#edit-projects{
	display: none;
	margin-bottom: 1.7em;
	font-family: 'Work Sans';
	border: none;
	background-color: inherit;
}

.filters{
	padding: 5px 0 51px 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.btn-filters, .inactive {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	width: auto;
	padding: 5px 10px;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154 ;
}

.show{
	display: block;
}

.hidden {
	display: none;
  }

.btn-active{
	background-color: #1D6154;
	color: white;
}

/* modal */

#modal{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

#modal-container{
	display: none;
	width: 630px;
	height: 731px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#modal-content{
	display: none;
	width: 630px;
	height: 90%;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#top-icon-modal{
	display: flex;
	justify-content: space-between;
}

#back-add-project{
	display: flex;
	justify-content: flex-start;
	margin: 20px;
}

#close-modal{
	display: flex;
	justify-content: flex-end;
	margin: 20px;
}

#modal h2{
	font-size: 26px;
	font-family: 'Work Sans';
	font-weight: 400;
	color: black;
	text-align: center;
}

#modal-gallery{
	display: grid;
	grid-template-columns: 85.68px 85.68px 85.68px 85.68px 85.68px;
	gap: 10px;
	width: 550px;
	justify-content: center;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 41%;
	transform: translate(-50%, -50%);
}

.modal-figure{
	position: relative;
	width: 85.68px;
	height: 128.78px;
}

.modal-img{
	height: 105.34px;
	width: 100%;
	position: relative;
}

.fa-trash-can{
	padding: 4px;
	margin: 6px;
	border-style: none;
	border-radius: 2px;
	font-size: 9px;
	color: white;
	background-color: black;
	position: absolute;
	right: 0;
	top: 0;
}

#hr-modal{
	position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
	width: 100%;
}

#edit-btns-area{
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
}

#edit-btns-area button{
	display: block;
}

#btn-add-picture{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: white;
	background-color: #1D6154;
	width: 179px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: 1px solid #1D6154 ;
	margin-bottom: 20px;
}

#btn-delete-gallery{
	background-color: inherit;
	border: none;
	color: red;
	justify-content: center;
}

/* Choose new project to add */

#modal-add-project{
	display: none;
	width: 630px;
	height: 90%;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
}

#modal-add-project h2{
	font-size: 26px;
	font-family: 'Work Sans';
	font-weight: 400;
	color: black;
}

#div-add-file{
	display: block;
}

#img-icon{
	color: #B9C5CC;
	width: 58px;
	height: 46px;
}

#btn-add-project{
	width: 173px;
	height: 36px;
	left: 633px;
	top: 881px;
	background: #CBD6DC;
	border-radius: 50px;
	border-style: none;
	color: #306685;
	font-family: 'Work Sans';
}

#input-add-file{
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: #CBD6DC;
	margin-top: 50px;
	visibility: hidden;
}

#container-project-info{
	display: block;
	margin: 50px 0 50px 0;
	height: 60%;
	width: 50%;
	justify-content: center;
}

#container-project-info label{
	text-align: left;
}

#div-title-element{
	display: block;
}

.input-add-project{
	border-style: none;
	width: 420px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	display: block;
	margin: 20px 0 20px 0;
}

#btn-valid-project{
	width: 237px;
	height: 36px;
	background-color: #1D6154;
	color: white;
	border-radius: 60px;
	border-style: none;
}

/* login */

#login-page-title{
	text-align: center;
	margin-bottom: 37px;
}

.login-container{
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}

#log-form{
	width: 379px;
	height: auto;
}

.login-infos {
	text-align: left;
}

.login-infos label{
	margin: 2em 0 1em 0;
}

.login-infos input{
	width: 100%;
	height: 51px;
	margin-bottom: 20px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-connect input{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: white;
	background-color: #1D6154;
	width: 179px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: 1px solid #1D6154 ;
	margin-bottom: 20px;
}

.login-connect a{
	color: inherit;
}

/*edit mode*/

#edit-mode{
	display: flex;
	max-width: 1440px;
	height: 59px;
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#publish{
	border-radius: 60px;
	padding: 11px 23px;
	font-weight: bold;
}